NODE_ENV=development
APP_URL=http://localhost:3000
API_URL=http://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:4000

DATABASE_URL=postgresql://nexusos:nexusos_dev_password@localhost:5432/nexusos
REDIS_URL=redis://localhost:6379

NEXTAUTH_SECRET=3e34d3b5ae2a95ae802fc6733eba08e24c7b1c8470b3b80293cb33d2c5729b94
NEXTAUTH_URL=http://localhost:3000

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=noreply@nexusos.local

PORT=4000
